# include all test files but avoid including .pyc
recursive-include benchmark *.py *.txt
recursive-include tests *.json *.html *.md *.py *.txt
# include documentation sources but not built docs
graft docs
prune docs/_build
